<div class="home">
    <div class="container p-2">
        <div class="logo">
            <img class="img rounded-circle" width="50px" height="50px">
        </div>

        <div class="nav">
            <a href="history" class="py-2 px-5">01.HISTORY</a>
            <a href="team" class="py-2">02.TEAM</a>
        </div>
    </div>

    <div class="title">
        <h1 class="gray">
            LOSANGLES
        </h1>
        <h1 class="blue">
            MOUNTAINS
        </h1>
    </div>

    <img src="../../assets/images/bg.jpg" class="bg img-fluid">
</div>